body {
  font-family: 'Lato', sans-serif;
}

h3 {
  margin-top: 50px;
  margin-bottom: 8px;
}

.navbar-brand {
  color: $header-heading-color!important;
  font-size: 32px;
}

.card-text {
  margin: 25px 0!important;
}

footer h5 {
  color: $footer-heading-color;
}