html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-wrapper {
  background-color: $background-color;
  flex: 1 0 auto;
}

header {
  background-color: $header-background-color;
  min-height: 70px;
}

main {
  width: 90%;
  margin: 120px auto;
}